* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/dust_scratches.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 22pt;
}
header {
    background-color: #ffffff;
    border-bottom-style: groove;
    border-color: #cccccc;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.header-bar, section{
    background-color: #ffffff;
    margin: auto;
    max-width: 960px;
}
section{
    border: 1px #dddddd solid;
    border-style: inset;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
    overflow: auto;
    font-size: 14pt;

}
h1 {
    padding: 30px;
    margin: 0px;
    display: inline-block;
}
.link-container {
    float: right;
    padding: 30px 0px;
}
a {
    margin: 10px;
    color: #777777;
    font-size:10pt;
    text-decoration:none
}
a:hover {
    text-decoration: underline;
}
img {
    float: left;
    margin: 0 20px 5px 0;
}
p {
    margin-top: 0;
    line-height:200%;
}
footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    justify-content: baseline;
    text-align: center;
    border-top: 8px solid #4aaaa5
}
footer span{
    position: absolute;
    bottom: 0;
    color: #dddddd;
    font-size: 8pt;
}
.fade {
    color: #f5f5f5;
}
.reverse {
    background-color:#4aaaa5;
    color: #ffffff;
}
.banner {
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
    font-size: 14pt;
}
input, textarea{
    width: 100%;
    margin: 5px 0px 20px 0px;
    line-height: 150%;
    font-size: 12pt;
    padding-left: 10px;
}
textarea {
    padding-right: 10px;
    height: 200px;
    display: flex
}
.block{
   width: 280px;
   height: 200px;
   float: left;
   margin: 20px;
   position: relative;
   box-shadow: 0 0 20px;
    
}
.block:hover {
    border-style: outset;
    border: 3px solid;
    border-color: #4aaaa5;
    cursor: pointer;
    box-shadow: 0 0 50px;

    
}
.hangman{
    background-image: url("../images/dummy.jpg");
    background-size: 100%
}
.rpg-game{
    background-image: url("../images/dummy.jpg");
    background-size: 100%
}
.trivia-game{
    background-image: url("../images/dummy.jpg");
    background-size: 100%
}
.info-widget{
    background-image: url("../images/dummy.jpg");
    background-size: 100%
}
.rock-paper-scissors{
    background-image: url("../images/dummy.jpg");
    background-size: 100%
}
hr {
    border-bottom: 0px;
    margin: 20px 0px;
}

button{
    border: none;
    padding: 10px 20px;
    font-size: 12pt;
}

textarea{
    -webkit-appearance: textfield;
}

